## Pandas :
Pandas library offers data structures like Series and Data Frame.   
 
1: Series - Series is a 1-D structure like an array.  
2: Data_Frame - 2-D structure ,mutable size and lables axes.

In [9]:
## Importing pandas:

import pandas as pd 

## Creation of Series:

data=[1,2,3,4,5]
df = pd.Series(data)
print("Data Series with index:",df)
print("Data Type :",type(df))

Data Series with index: 0    1
1    2
2    3
3    4
4    5
dtype: int64
Data Type : <class 'pandas.core.series.Series'>

In [16]:
## Series from dictionary elements:

data = {'a': 1, 'b': 2, 'c': 3}
df = pd.Series(data)
print("Data Series with index:\n",df)

data=[10,20,30,40,50]   
index=[1,2,3,4,5]
print("Output:\n",pd.Series(data,index))

Data Series with index:
 a    1
b    2
c    3
dtype: int64
Output:
 1    10
2    20
3    30
4    40
5    50
dtype: int64

In [28]:
## Creation of DataFrame:

data={
    'Name':['Aditya','Aman','Anshul'],
    'Age':[20,21,22],
    'City':['Delhi','Mumbai','Bangalore']
 }

df = pd.DataFrame(data)
print("DataFrame:\n",df)

DataFrame:
      Name  Age       City
0  Aditya   20      Delhi
1    Aman   21     Mumbai
2  Anshul   22  Bangalore

In [29]:
## Reading CSV files :

data_frame = pd.read_csv("placement.csv")

## Use of head and tail :

print("Top 10 Record:\n", data_frame.head(10))
print("Last 10 Record:\n", data_frame.tail(10))

Top 10 Record:
   College_ID   IQ  Prev_Sem_Result  CGPA  Academic_Performance  \
0    CLG0030  107             6.61  6.28                     8
1    CLG0061   97             5.52  5.37                     8
2    CLG0036  109             5.36  5.83                     9
3    CLG0055  122             5.47  5.75                     6
4    CLG0004   96             7.91  7.69                     7
5    CLG0015   96             5.26  5.32                     7
6    CLG0071  123             6.68  6.58                     5
7    CLG0096  111             8.77  8.76                     7
8    CLG0097   92             6.47  6.33                     9
9    CLG0057  108             8.82  8.60                     4

  Internship_Experience  Extra_Curricular_Score  Communication_Skills  \
0                    No                       8                     8
1                    No                       7                     8
2                    No                       3                     1
3                   Yes                       1                     6
4                    No                       8                    10
5                    No                       5                     8
6                    No                       7                     8
7                    No                       3                     1
8                    No                       7                     8
9                    No                       5                     9

   Projects_Completed Placement
0                   4        No
1                   0        No
2                   1        No
3                   1        No
4                   2        No
5                   0        No
6                   2       Yes
7                   2       Yes
8                   5        No
9                   1        No
Last 10 Record:
      College_ID   IQ  Prev_Sem_Result   CGPA  Academic_Performance  \
9990    CLG0046  121             5.58   5.27                     9
9991    CLG0005  102             7.28   6.86                    10
9992    CLG0062  109             9.92  10.09                     2
9993    CLG0056   77             7.57   7.39                     1
9994    CLG0064  117             8.71   8.44                     6
9995    CLG0021  119             8.41   8.29                     4
9996    CLG0098   70             9.25   9.34                     7
9997    CLG0066   89             6.08   6.25                     3
9998    CLG0045  107             8.77   8.92                     3
9999    CLG0060  109             9.41   9.77                     8

     Internship_Experience  Extra_Curricular_Score  Communication_Skills  \
9990                    No                       7                     3
9991                   Yes                       9                     3
9992                   Yes                       5                    10
9993                   Yes                       2                     6
9994                    No                       9                     4
9995                    No                       1                     8
9996                    No                       0                     7
9997                   Yes                       3                     9
9998                    No                       7                     5
9999                    No                       3                     5

      Projects_Completed Placement
9990                   2        No
9991                   1        No
9992                   3       Yes
9993                   3        No
9994                   4       Yes
9995                   0       Yes
9996                   2        No
9997                   5        No
9998                   1        No
9999                   5        No

In [32]:
df

     Name  Age       City
0  Aditya   20      Delhi
1    Aman   21     Mumbai
2  Anshul   22  Bangalore

In [ ]:
## Accessing data from DataFrame:

## using loc , iloc and at:
print("Accessing data using loc:\n",df.loc[0])  # Accessing first row
print("Accessing data using iloc:\n",df.iloc[0][1])  # Accessing first row by index
print("Accessing data using at:\n",df.iat[0,0])  #

Accessing data using loc:
 Name    Aditya
Age         20
City     Delhi
Name: 0, dtype: object
Accessing data using iloc:
 20
Accessing data using at:
 Aditya

C:\Users\adity\AppData\Local\Temp\ipykernel_21844\82862882.py:5: FutureWarning: Series.__getitem__ treating keys as positions is deprecated. In a future version, integer keys will always be treated as labels (consistent with DataFrame behavior). To access a value by position, use `ser.iloc[pos]`
  print("Accessing data using iloc:\n",df.iloc[0][1])  # Accessing first row by index

In [35]:
## Data Extraction:

print("Data Types:\n",data_frame.dtypes)  # Data types of each column

print("\n\nSummary Statistics:\n",data_frame.describe())  # Summary statistics

Data Types:
 College_ID                 object
IQ                          int64
Prev_Sem_Result           float64
CGPA                      float64
Academic_Performance        int64
Internship_Experience      object
Extra_Curricular_Score      int64
Communication_Skills        int64
Projects_Completed          int64
Placement                  object
dtype: object


Summary Statistics:
                  IQ  Prev_Sem_Result          CGPA  Academic_Performance  \
count  10000.000000     10000.000000  10000.000000          10000.000000
mean      99.471800         7.535673      7.532379              5.546400
std       15.053101         1.447519      1.470141              2.873477
min       41.000000         5.000000      4.540000              1.000000
25%       89.000000         6.290000      6.290000              3.000000
50%       99.000000         7.560000      7.550000              6.000000
75%      110.000000         8.790000      8.770000              8.000000
max      158.000000        10.000000     10.460000             10.000000

       Extra_Curricular_Score  Communication_Skills  Projects_Completed
count            10000.000000          10000.000000        10000.000000
mean                 4.970900              5.561800            2.513400
std                  3.160103              2.900866            1.715959
min                  0.000000              1.000000            0.000000
25%                  2.000000              3.000000            1.000000
50%                  5.000000              6.000000            3.000000
75%                  8.000000              8.000000            4.000000
max                 10.000000             10.000000            5.000000