## Sqlite_3:
Sqlite is lightweight sql suitable for embedded database systems.

In [15]:
## Importing Sqlite3 module
import sqlite3

## Creating a connection to the database
connection = sqlite3.connect('database.db')

## Creating a cursor object using the connection
cursor = connection.cursor()

# Creating a table named 'users' with columns 'id', 'name', and 'age'
cursor.execute('''
CREATE TABLE IF NOT EXISTS users (
    id INTEGER PRIMARY KEY AUTOINCREMENT,
    name TEXT NOT NULL,
    age INTEGER NOT NULL
)
''')

# Committing the changes to the database
connection.commit()

In [16]:
## Inserting sample data into the 'users' table
cursor.execute('''
INSERT INTO users (name, age) VALUES
('Aditya', 30),
('Boby', 25),
('Chunli', 35),
('Alice', 30),
('Bob', 25),
('Charlie', 35)
''')

connection.commit()

In [17]:
## Displaying all records from the 'users' table
cursor.execute("SELECT * FROM users")
rows = cursor.fetchall()
print("All records in 'users' table:\n")
for row in rows:
    print(row)

All records in 'users' table:

(19, 'Aditya', 30)
(20, 'Boby', 25)
(21, 'Chunli', 35)
(22, 'Alice', 30)
(23, 'Bob', 25)
(24, 'Charlie', 35)

In [18]:
## Updation of data in the 'users' table:
cursor.execute('''
UPDATE users
SET age = 22
WHERE name = 'Aditya'
''')
connection.commit()

## Displaying all records from the 'users' table
cursor.execute('SELECT * FROM users')
rows = cursor.fetchall()
print("All records in 'users' table:\n")
for row in rows:
    print(row)

All records in 'users' table:

(19, 'Aditya', 22)
(20, 'Boby', 25)
(21, 'Chunli', 35)
(22, 'Alice', 30)
(23, 'Bob', 25)
(24, 'Charlie', 35)

In [19]:
## Deleting a record from the 'users' table
cursor.execute('''
DELETE FROM users
WHERE name = 'Boby'
''')
connection.commit()

## Displaying all records from the 'users' table after deletion
cursor.execute('SELECT * FROM users')
rows = cursor.fetchall()
print("All records in 'users' table after deletion:\n")
for row in rows:
    print(row)

All records in 'users' table after deletion:

(19, 'Aditya', 22)
(21, 'Chunli', 35)
(22, 'Alice', 30)
(23, 'Bob', 25)
(24, 'Charlie', 35)

In [20]:
## Closing the cursor and connection:
cursor.close()
connection.close()